@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.gameplay {
  position: relative;

  &__background {
    width: 480px;
    height: 853px;
    z-index: -10;
  }

  &__counter {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    font-size: 34px;
    top: 45px;
    left: 245px;
    z-index: 20;
    color: #3d2700;
  }

  &__object {
    position: absolute;
    transition: 1s ease-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__button {
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 132px;
    top: 600px;
    left: 45px;
    visibility: hidden;
    transition: 1s ease-out;

    &:hover {
      cursor: pointer;
    }
  }
}

.found-object {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0 !important;
  right: 0 !important;

}

.continue-button {
  visibility: visible;
  opacity: 1;
  top: 700px;
  left: 45px;
}