@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.gameplay {
  &__background {
    width: 480px;
    height: 853px;
    z-index: -10;
  }
  &__counter {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    font-size: 34px;
    top: 45px;
    left: 970px;
    z-index: 20;
    color: #3d2700;
  }
  &__umbrella {
    position: absolute;
    transition: 1s ease-out;
    &:hover {
      cursor: pointer;
    }
  }
  &__button {
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 132px;
    top: 600px;
    left: 750px;
    visibility: hidden;
    transition: 1s ease-out;
    &:hover {
      cursor: pointer;
    }
  }
}

.delete {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;

}

.viewButton {
  visibility: visible;
  opacity: 1;
  top: 700px;
  left: 750px;
}